.menu-item {
  margin-top: 20px;
}

.menu-item a {
  background-color: cornflowerblue;
  color: #dcdcdc;
  cursor: pointer;
  padding: 23px 23px 19px;
  text-decoration: none;
}

.active-link a {
  background-color: rgb(88, 139, 235);
}