.menu-item {
  margin-top: 20px;
}

.menu-item a {
  background-color: white;
  color: grey;
  font-weight: 500;
  cursor: pointer;
  padding: 23px 5px 19px;
  text-decoration: none;
}

.active-link a {
  color: rgb(53, 122, 187);
}