.board-pin {
  min-height: 100px;
  width: 150px;
  margin: 5px;
  border-radius: 4px;
  box-shadow: 0 1px 3px -1px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.board-pin__preview {
  background-color: lightgrey;
  box-sizing: border-box;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  height: 150px;
  padding: 15px 10px 10px;
  overflow: hidden;
}

.board-pin__preview:hover {
  background-color: grey;
  transition: background-color .2s, font-size .1s;
  font-size: 14px;
}

.board-pin__description {
  position: relative;
  font-size: 14px;
  color: whitesmoke;
  display: none;
}

.board-pin__preview:hover .board-pin__description {
  display: block;
}

.board-pin__menu-btn {
  color: lightgrey;
  position: absolute;
  font-size: 18px;
  font-weight: bold;
  right: 0;
  top: -20px;
}

.board-pin__menu-btn:hover {
  color: white;
  transition: font-size .3s;
}


.board-pin__info {
  height: 20px;
  font-size: 12px;
  padding: 5px;
}

.board-pin__info-title {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}