.board-pin {
  min-height: 100px;
  width: 150px;
  margin: 5px;
  border-radius: 4px;
  box-shadow: 0 1px 3px -1px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.board-pin__preview {
  position: relative;
  background-color: lightgrey;
  box-sizing: border-box;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  height: 150px;
  padding: 7px 7px 5px;
  overflow: hidden;
}

.board-pin__image {
  object-fit: contain;
  position: relative;
  width: 100%;
  height: 100%;
  opacity: 0;
  animation: slow-show .1s ease-in-out forwards;
}

@keyframes slow-show {
  from { opacity: 0; }
  to { opacity: 1; }
}

.board-pin__description {
  position: absolute;
  display: none;
  left: 5px;
  top: 5px;
  padding: 10px;
  font-size: 14px;
  color: whitesmoke;
  z-index: 2;
}

.board-pin__preview:hover .board-pin__description {
  display: block;
}

.board-pin__menu-btn {
  position: absolute;
  right: 10px;
  top: 0;
  color: lightgrey;
  font-size: 18px;
  font-weight: bold;
  z-index: 2;
}

.board-pin__overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.board-pin__preview:hover .board-pin__overlay {
  display: block;
}

.board-pin__info {
  height: 20px;
  font-size: 12px;
  padding: 5px;
}

.board-pin__info-title {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}