.stage-title {
    border: none;
    padding: 5px 15px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.stage-description {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.ql-editor {
    min-height: 30em;
}