.modal-body-item {
  padding: 10px;
}

.modal-body-item input, textarea {
  font-size: 16px;
  box-sizing: border-box;
  padding: 10px 15px;
  width: 100%;
  border: none;
  border-bottom: 1px solid lightgrey;
  resize: none;
}

.modal-body-item input:focus, textarea:focus {
  outline: none;
  border-bottom: 1px solid grey;
}