.edge-context-menu {
  padding: 5px 0;
  position: absolute;
  background-color: white;
  border: 1px solid gray;
  border-radius: 4px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  color: #1a1a1a;
  min-width: 130px;
  z-index: 3000;
}

.menu-point {
  cursor: pointer;
  margin: 0;
  padding: 5px 25px;
  text-align: center;
}

.menu-point:hover {
  background-color: #efefef;
}