.node-title {
  box-sizing: border-box;
  border: none;
  color: #1a1a1a;
  text-align: center;
  font-family: Raleway, Calibri, "open sans", sans-serif;
  font-size: 16px;
  padding: 4px 0 1px 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
