.modal-button {
  border: 1px solid lightgrey;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 5px;
}

.modal-button:hover {
  cursor: pointer;
}

.button-primary {
  background-color: white;
}

.button-primary:hover {
  background-color: white;
  border: 1px solid grey;
}