.header {
  background-color: white;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
  margin: 0;
  height: 60px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-bottom: 1px solid lightgray;
}

.header__left, .header__right {
  display: flex;
}

.header__logo {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.header__logo-name {
  color: rgb(70, 70, 70);
  font-size: 18px;
  font-weight: bold;
  margin-left: -10px;
  margin-right: 15px;
}

.header__logo-name-tail {
  color: rgb(53, 122, 187);
}

.header__left-nav {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.header__item {
  color: #dcdcdc;
  cursor: pointer;
  padding: 20px;
}

.br-1 {
  border-right: 1px solid cornflowerblue;
}

.header__item:hover {
  color: lightgray;
}

.header__user-nav {
  cursor: pointer;
  margin: auto;
  padding: 0 15px;
  display: flex;
}

.header__user-nav:hover {
  color: lightgray;
}

.header__user-name {
  margin: auto;
  padding: 0 5px 0 0;
}

.header__user-name a {
  color: grey;
  text-decoration: none;
}

.header__user-avatar {
  background-color: gray;
  border-radius: 50%;
  cursor: pointer;
  width: 35px;
  height: 35px;
}
