.stage-status {
    position: absolute;
    top: 0;
    left: 0;
}

.current-status {
    font-size: 10px;
    font-weight: bold;
    position: absolute;
    top: -4px;
    left: -3px;
    color: white;
    background-color: grey;
    padding: 3px 6px;
    border-radius: 50%;
}

.status-done {
    background-color: green;
}

.status-canceled {
    background-color: darkred;
}

.status-passing {
    background-color: darkorchid;
    animation-name: pass;
    animation-duration: 4s;
    animation-delay: 4s;
    animation-iteration-count: infinite;
}

.stage-status-menu {

}

@keyframes pass {
    from {color: darkorchid;}
    to {color: white;}
  }