.node {
  border-radius: 20px;
  border: 1px solid grey;
  padding: 5px 20px;
  position: absolute;
  cursor: move;
  z-index: 1000;
}

.node-input {
  box-sizing: border-box;
  width: 100%;
  border: none;
}
