.stage-view {
    border-radius: 20px;
    border: 1px solid gray;
    padding: 5px 20px;
    position: absolute;
    cursor: pointer;
    z-index: 1000;
}

.stage-view:hover {
    border: 2px solid grey;
}
  